* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30px;
  line-height: 150%;
}

header {
  text-align: center;
  margin-bottom: 30px;
}
